body
{
    background-color: #323232;
    color: gainsboro;
    font-family: 'Segoe UI';
    font-family: Roboto, Segoe UI;
}
h4
{
    text-align: right;
    font-family: Roboto;
}
p
{
    text-align:justify;
    font-size:14pt;
    /*font-family:Roboto;*/
    border: solid 1px;
    margin: 22px;
    padding: 11px 22px 33px 44px;
}
ol
{
    list-style-type:upper-roman;
}
.nesting-lvl-1
{
    list-style-type:circle;
}
.nesting-lvl-2
{
    list-style-type:" - ";
}
figure
{
    text-align: center;
    font-style: italic;
    color:aliceblue;
}
a
{
    color:aliceblue;
}
    a:hover, a:hover:visited
    {
        color: cornflowerblue;
    }
    a:visited
    {
        color: lightblue;
    }

table
{
    border:solid 2px;
    margin:0 auto;
    border-spacing:0;
}
thead
{
    border: solid 10px;
    background-color: #6b5fb5;
    border-color: black;
}
th
{
    color: white;
    border: solid 1px;
    padding: 11px 33px;
    border-top: solid 2px #aeaed3;
    border-bottom: solid 2px #aeaed3;
}
.table-first-header
{
    border-left: solid 2px #aeaed3;
}
.table-last-header
{
    border-right: solid 2px #aeaed3;
}   
td
{
    border: solid 1px #aeaed3;
    text-align:center;
    text-align:center;
}
.row-header
{
    /*background-color: #6b5fb5;
    color:white;*/
    text-align: left;
}
    td[colspan="3"]
    {
        text-align: center;
        color: white;
        background-color: #6b5fb5;
    }
div
{
    border:solid 1px;
    /*margin:22px 32px;*/ /*22px - верх/низ, 32px - лево/право*/
    /*margin:22px 32px 44px 55px;*/ /*22px - верх, 33px - лево/право, 44px - низ */
    margin: 22px 33px 44px 55px; /*По часовой стрелке, начиная сверху*/

    /*margin-left:32px;
    margin-right:12px;
    margin-top:22px;
    margin-bottom:12px;*/

}
