@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    font-family: 'Roboto' /*, 'Segoe UI'*/;
    font-size: 32px;
}
input, button
{
    font-size: 32px;
    border: solid 2px black;
    border-radius: 8px;
}

#header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img[src="img/sun.png"]
{
    filter: brightness(0) invert(1);
}

#header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#delay
{
    width: 58px;
    height: 25px;
    position: fixed;
    top: 40px;
    right: 110px;
}

#switchBackground
{
    width: 48px;
    height: 48px;
    margin: 24px;
    background-size: 48px 48px;
    position: fixed;
    top: 5px;
    right: 5px;
}

input
{
    font-size: 32px;
    width: 320px;
}

.light
{
    background-image: linear-gradient(to bottom left, #240672, black, black);
    color: white;
}

    .light #switchBackground
    {
        background-image: url('img/sun.png');
        filter: brightness(0) invert(1);
    }

.dark
{
    background-image: linear-gradient(to bottom left, #FFDD40, wheat, wheat);
    color: black;
}

    .dark #switchBackground
    {
        background-image: url('img/moon.png');
    }

#image-file
{
    width: 995px;
}
#photo-container
{
    border: solid 1px;
    display: inline-block;
    min-width:220px;
    min-height: 120px;
}
#photo
{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-width: 995px;
    max-height: 100%;
}
#clock
{
    text-align: left;
    border-top: solid 1px;
    border-bottom: solid 1px;
    padding-bottom: 30px;
    margin-top: 30px;
}
    /*#clock h3
    {
        margin-left: 10px;
    }*/
.date-container #time-of-day
{
    margin-left: 50px;
}

input[type=checkbox]
{
    width: 24px;
    height: 24px;
}

.date-container
{
    display: flex;
    align-items: center;
    gap: 8px;
}
#weekday, #current-date, #user-date, #button-count, #new-date
{
    position: absolute;
    left: 450px;
}
#button-count
{
   left: 800px;
}
#bold
{
    font-weight: bold;
}
/*********************************************************************************/
#display
{
    border: solid 1px;
    font-size: 32px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.time-block
{
    border: solid 3px;
    border-radius: 10px;
}

.time-unit
{
    font-size: 48px;
    color: rebeccapurple;
    width: 148px;
    height: 148px;
    background-color: rgb(255, 236, 84);
}

.time-marker
{
    border: solid 1px;
    background-color: rebeccapurple;
    color: aliceblue;
}

.time-unit, .time-marker
{
    display: flex;
    justify-content: center;
    align-items: center;
}