@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    font-family:'Roboto'/*, 'Segoe UI'*/;
    font-size: 32px; 
    background-image: linear-gradient(to right, wheat, lightblue);
}
input
{
    font-size: 32px;
}
