body
{
    background: black;
    place-items: center;
    color: white;
}
#whitespan
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: white;
}
#transparentspan
{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: transparent;
}