@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body
{
    font-family: Roboto;
    background-image: linear-gradient(to right, #F0FFCE ,#EDD1FF);
}
input
{
    position: absolute;
    left: 300px;
}
